.about {

  &-values-container {
    margin-top: 60px;
  }
  &-values-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
  }
  &-value-item {
    text-align: center;
  }
  &-value-image {
    height: 113px;
    width: auto;
  }
  &-value-content {
    margin-top: 20px;
  }
  &-values-title {
    color: $color-white;
  }
  &-value-title {
    color: $color-orange;
    white-space: nowrap;
    font-size: 21px;
  }
  &-value-description {
    font-size: 14px;
    max-width: 165px;
    margin: 0 auto;
  }

  @include breakpoint(mobile){
    &-values-section {
      padding-top: 45px;
      padding-bottom: 0px;
    }
    &-values-container {
      margin-top: 0;
      padding-bottom: 60px;
    }
    &-values-list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &-value-item {
      margin-top: 45px;
    }
  }
}