.home {
  &-values-container {
    margin-top: 60px;
  }
  &-quote {
    font-size: 30px;
    @include breakpoint(tablet) {
      font-size: 24px;
    }
    @include breakpoint(mobile) {
      font-size: 15px;
    }
    &-section {
      padding-top: 135px;
      padding-bottom: 135px;
    }
  }
  &-intro-section {
    background-color: black;
    color: white;
  }
  &-video-container {
    margin-top: 35px;
  }
  &-video-text-container {
    margin-top: 50px;
  }
  &-people-image-container {
    margin-top: 35px;
  }
  &-values-section {
    @include breakpoint(mobile) {
      padding-top: 45px;
      padding-bottom: 0px;
    }
  }
  &-values-container {
    margin-top: 60px;
    @include breakpoint(mobile) {
      margin-top: 0;
      padding-bottom: 60px;
    }
  }
  
}
