.home-quote {
  font-size: 30px;
  &-section {
    background-color: white;
    color: $color-gray;
  }
  @include breakpoint(tablet){
    font-size: 24px;
  }
  @include breakpoint(mobile){
    font-size: 15px;
  }
}

.home-intro-section {
  background-color: black;
  color: white;
}


.home-video {
  &-container {
    margin-top: 35px;
  }
  &-text-container {
    margin-top: 50px;
  }
}

.home-people {
  &-image-container {
    margin-top: 35px;
  }
}