@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-weight: normal;
  @include font-overpass();
  color: $color-space;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $color-space;
}

blockquote {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  @include font-raj();
}

.site-container {
  max-width: $site-max-width;
  min-width: $site-min-width;
  margin: 0 auto;
  background-color: $color-space;
}

.mobile-only {
  display: none;
  @include breakpoint(mobile){
    display: block;
  }
}

//HEADER

.site-header {
  background-color: $color-space;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $pad-section;
  padding-right: 20px;
  position: relative;
  z-index: $index-nav;
  @include breakpoint(mobile){
    padding-left: 34px;
  }
}

.site-nav {
  &-list {
    display: flex;
  }
  &-item {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
  &-link {
    color: $color-white;
    text-transform: uppercase;
    transition: color 300ms linear;
    font-weight: $fw-semibold;
    font-size: 12px;
    &:hover {
      color: $color-orange;
    }
    &.active {
      color: $color-orange;
      text-decoration: underline;
    }
  }
  @include breakpoint(mobile){
    &.active {
      .site-nav-list {
        display: block;
      }
      .site-nav-toggle {
        span {
          &:nth-child(1), &:nth-child(4) {
            top: 9px;
            width: 0%;
            left: 50%;
          }
          
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &-list {
      flex-direction: column;
      position: absolute;
      right: 0px;
      width: 100%;
      top: 75px;
      display: none;
      background-color: $color-white;
      padding: 35px 30px;
      text-align: right;
    }
    &-item {
      margin-left: 0;
    }
    &-link {
      color: $color-space;
      font-size: 14px;
    }
    &-toggle {
      width: 34px;
      height: 19px;
      transition: .5s ease-in-out;
      position: relative;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $color-white;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        
        &:nth-child(2),&:nth-child(3) {
          top: 9px;
        }
        
        &:nth-child(4) {
          top: 18px;
        }
      }
    }
  }
}
//PAGE INTROS

.page-intro {
  &-section {
    background-color: $color-white;
    padding-left: $pad-section;
    height: 485px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &-title {
    @include font-raj();
    font-size: 60px;
    max-width: 60vw;
  }
  &-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66vw;
    height: 41vw;
    transform: translateY(54px);
    z-index: -1;
    border-left: 7px solid $color-white;
    border-bottom: 7px solid $color-white;
    max-width: 900px;
    
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  &-button-link {
    margin-top: 70px;
  }
  &-line {
    display: block;
    position: relative;
    white-space: nowrap;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 10px;
      width: 100%;
      background-color: $color-white;
      height: 40px;
      z-index: -1;
      box-sizing: content-box;
      padding: 0 10px;
    }
  }
  @include breakpoint(mobile){
    &-section {
      width: 100%;
      padding-left: 0;
      height: 300px;
      align-items: flex-start;
    }
    &-image-container {
      width: 100%;
      height: 80%;
      border: none;
      transform: translateY(0);
      position: absolute;
      left: 0;
      bottom: 5px;
    }
    &-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &-content {
      width: $section-width;
      margin: 0 auto;
      text-align: center;
      margin-top: 40px;
    }
    &-title {
      max-width: none;
      display: inline-block;
      font-size: 30px;
    }
    &-line {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        width: 100%;
        background-color: $color-white;
        height: 20px;
        z-index: -1;
        box-sizing: content-box;
        padding: 0 5px;
      }
    }
    &-button-link {
      margin-top: 80px;
    }
  }
}

//PAGE CONTENT SECTIONS

.content-section {
  background-color: $color-space;
  color: $color-white;
  display: flex;
  justify-content: center;
  &.white {
    color: $color-space;
    background-color: $color-white;
  }
  &-inner {
    width: $section-width;
    margin: 0 auto;
  }
  &-title {
    font-size: 36px;
    text-align: center;
  }
}

//Interface

.button-link {
  background-color: $color-white;
  border: 3px solid $color-orange;
  text-transform: uppercase;
  font-weight: $fw-bold;
  display: inline-flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: $color-orange;
  }
  @include breakpoint(mobile){
    font-size: 12px;
    height: 32px;
    min-width: 140px;
    background-color: rgba($color-white,.85);
  }
}

.video {
  &-container {
    padding:56.25% 0 0 0;
    position:relative;
  }
  &-iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}


//FOOTER

.footer {
  background-color: $color-space;
  color: $color-white;
  padding: $pad-section;
  &-logo {
    width: 140px;
  }
  &-address {
    font-style: normal;
    margin-top: 20px;
    font-weight: $fw-light;
  }
  &-address-line {
    display: block;
  }
  &-link {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}