//Header

.site-header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $pad-section;
  padding-right: 40px;
  z-index: $index-nav;
  width: 100%;
  background-color: $color-section-bg;
  .section-inner {
    display: flex;
    justify-content: space-between;
  }
  @include breakpoint(mobile) {
    padding-left: 34px;
  }
  &-title {
    display: inline-flex;
  }
  &-logo {
    width: 22vw;
    max-width: 250px;
    height: auto;
    @include breakpoint(mobile){
      width: 162px;
    }
  }
  &-link {
    display: flex;
    align-items: flex-start;
  }
}