//Interface

.button-link {
  background-color: transparent;
  color: $color-orange;
  border: 3px solid $color-orange;
  font-weight: $fw-bold;
  font-size: 18px;
  display: inline-flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: $color-orange;
    color: $color-white;
  }
  @include breakpoint(mobile) {
    font-size: 12px;
    height: 32px;
    min-width: 140px;
    background-color: $color-white;
    color: $color-orange;
  }
  &.white {
    background-color: $color-white;
    &:hover {
      background-color: $color-orange;
    }
  }
}

.loader {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-white,1);
  }
  &-inner {
    position: relative;
  }
  &-spinner {
    width: 80px;
    height: 80px;
    margin: 100px auto;
    background-color: $color-orange;
    border-radius: 100%;  
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
}

body.loading {
  .loader-container {
    display: flex;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}