//Interface

.button-link {
  background-color: $color-white;
  border: 3px solid $color-orange;
  text-transform: uppercase;
  font-weight: $fw-bold;
  display: inline-flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: $color-orange;
  }
  @include breakpoint(mobile) {
    font-size: 12px;
    height: 32px;
    min-width: 140px;
    background-color: rgba($color-white, 0.85);
  }
}
