//Page Intros

.page-intro {
  &-section {
    background-color: black;
    color: white;
    height: 575px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    @include breakpoint(tablet) {
      height: 385px;
    }
    @include breakpoint(tablet) {
      width: 100%;
      padding-left: 0;
      display: flex;
      align-items: center;
      .content-section-inner {
        text-align: center;
      }
    }
    @include breakpoint(mobile){
      height: 250px;
    }
  }
  &-video-inner {
    z-index: 3;
  }
  &-video + .section-inner {
    pointer-events: none;
    a,
    button {
      pointer-events: all;
    }
  }
  &-video-container {
    position: absolute;
    width: 100%;
    height: 100%;

  }
  &-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &-video-wash {
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0,0,0,.16);
    position: absolute;
    left: 0;
    top: 0;
  }

  &-title {
    @include font-raj();
    font-size: 60px;
    width: 43vw;
    @include breakpoint(tablet) {
      text-align: center;
      width: 100%;
    }
    @include breakpoint(mobile) {
      font-size: 33px;
    }
  }
  &-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    //NEW
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(gt_desktop) {
      width: 100%;
      object-fit: cover;
      object-position: 100% 50%;
    }

    @include breakpoint(tablet) {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-button-link {
    margin-top: 70px;
    @include breakpoint(mobile) {
      margin-top: 80px;
    }
  }
  &-content {
    @include breakpoint(mobile) {
      margin: 0 auto;
      text-align: center;
      margin-top: 80px;
    }
  }
}
