$fw-light: 300;
$fw-semibold: 600;
$fw-bold: 800;

//colors
$color-orange: #FC593A;
$color-saffron: #fdb153;
$color-space: #0F2933;
$color-cobalt: #2851A6;
$color-cornflower: #4078dd;
$color-disabled: #ccc;
$color-white: #fff;
$color-gray: #444;
$color-section-bg: #242A2D;

//layout
$pad-section: 75px;
$pad-v-mobile: 95px;
$site-max-width: 1440px;
$site-min-width: 320px;
$section-width: 70%;
$index-nav: 90;

//breakpoints
$bp-desktop: 1440px;
$bp-tablet: 1023px;
$bp-mobile: 767px;
