$fw-light: 300;
$fw-semibold: 600;
$fw-bold: 800;

//colors
$color-orange: #FC593A;
$color-saffron: #fdb153;
$color-space: #0F2933;
$color-cobalt: #2851A6;
$color-cornflower: #4078dd;
$color-disabled: #ccc;
$color-white: #fff;

//layout
$pad-section: 75px;
$site-max-width: 1440px;
$section-width: 75vw;

//breakpoints
$bp-desktop: 1440px;
$bp-tablet: 1023px;
$bp-mobile: 767px;
