* {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Overpass', sans-serif;
  color: #0F2933;
  margin: 0;
  overflow-x: hidden; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #0F2933; }

blockquote {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700; }

button {
  font-family: 'Overpass', sans-serif; }

.section-inner {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  .section-inner--intro {
    height: 100%; }

.mobile-only {
  display: none; }
  @media (max-width: 767px) {
    .mobile-only {
      display: block; } }
.site-header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 20px;
  z-index: 90;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  @media (max-width: 767px) {
    .site-header {
      padding-left: 34px; } }
  .site-header-logo {
    width: 22vw;
    max-width: 250px;
    height: auto; }
    @media (max-width: 767px) {
      .site-header-logo {
        width: 162px; } }
  .site-header-link {
    display: flex;
    align-items: flex-start; }

.site-nav.inactive {
  display: none; }

@media (max-width: 767px) {
  .site-nav.active .site-nav-list {
    display: block; }
  .site-nav.active .site-nav-toggle span:nth-child(1), .site-nav.active .site-nav-toggle span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%; }
  .site-nav.active .site-nav-toggle span:nth-child(2) {
    transform: rotate(45deg); }
  .site-nav.active .site-nav-toggle span:nth-child(3) {
    transform: rotate(-45deg); } }

.site-nav-list {
  display: flex; }
  @media (max-width: 767px) {
    .site-nav-list {
      flex-direction: column;
      position: absolute;
      right: 0px;
      width: 100%;
      top: 75px;
      display: none;
      background-color: #fff;
      padding: 35px 30px;
      text-align: right; } }
.site-nav-item {
  margin-left: 15px; }
  @media (max-width: 767px) {
    .site-nav-item {
      margin-left: 0; } }
  .site-nav-item:first-child {
    margin-left: 0; }

.site-nav-link {
  color: #fff;
  text-transform: uppercase;
  transition: color 300ms linear;
  font-weight: 600;
  font-size: 12px; }
  .site-nav-link:hover {
    color: #FC593A; }
  .site-nav-link.active {
    color: #FC593A;
    text-decoration: underline; }
  @media (max-width: 767px) {
    .site-nav-link {
      color: #0F2933;
      font-size: 14px; } }
@media (max-width: 767px) {
  .site-nav-toggle {
    width: 34px;
    height: 19px;
    transition: 0.5s ease-in-out;
    position: relative; }
    .site-nav-toggle span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      transition: 0.25s ease-in-out; }
      .site-nav-toggle span:nth-child(1) {
        top: 0px; }
      .site-nav-toggle span:nth-child(2), .site-nav-toggle span:nth-child(3) {
        top: 9px; }
      .site-nav-toggle span:nth-child(4) {
        top: 18px; } }

.button-link {
  background-color: transparent;
  color: #FC593A;
  border: 3px solid #FC593A;
  font-weight: 800;
  font-size: 18px;
  display: inline-flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  transition: all 300ms ease-in-out; }
  .button-link:hover {
    background-color: #FC593A;
    color: #fff; }
  @media (max-width: 767px) {
    .button-link {
      font-size: 12px;
      height: 32px;
      min-width: 140px;
      background-color: #fff;
      color: #FC593A; } }
  .button-link.white {
    background-color: #fff; }
    .button-link.white:hover {
      background-color: #FC593A; }

.content-section {
  background-color: #242A2D;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 95px; }
  @media (max-width: 767px) {
    .content-section {
      padding-top: 45px;
      padding-bottom: 45px; } }
  .content-section.white {
    color: #0F2933;
    background-color: #fff; }
  .content-section-inner {
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .content-section-inner {
        width: 85%; } }
  .content-section-title {
    font-size: 36px;
    text-align: center;
    color: #FC593A; }
    @media (max-width: 767px) {
      .content-section-title {
        font-size: 30px; } }
  .content-section-text-container {
    font-size: 24px; }
    @media (max-width: 767px) {
      .content-section-text-container {
        font-size: 15px; } }
  .content-section-title-text {
    display: flex;
    align-items: center; }
    .content-section-title-text .content-section-title {
      padding-right: 25px;
      flex-shrink: 0;
      white-space: nowrap;
      text-align: left; }
      .content-section-title-text .content-section-title.blue {
        color: #0F2933; }
    .content-section-title-text .content-section-text {
      padding-left: 25px;
      border-left: 2px solid #FC593A;
      font-size: 24px; }
    @media (max-width: 767px) {
      .content-section-title-text {
        flex-direction: column; }
        .content-section-title-text .content-section-text {
          padding-left: 0;
          border-left: 0;
          margin-top: 20px;
          font-size: 15px; } }
.video-container {
  padding: 56.25% 0 0 0;
  position: relative; }

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.values-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .values-list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }
.value-item {
  text-align: center; }
  @media (max-width: 767px) {
    .value-item {
      margin-top: 45px; } }
.value-image {
  height: 113px;
  width: auto; }

.value-content {
  margin-top: 20px; }

.value-title {
  color: #FC593A;
  white-space: nowrap;
  font-size: 21px; }

.value-description {
  font-size: 14px;
  max-width: 165px;
  margin: 0 auto; }

.page-intro-section {
  background-color: #fff;
  height: 575px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%; }
  @media (max-width: 1023px) {
    .page-intro-section {
      height: 385px; } }
  @media (max-width: 767px) {
    .page-intro-section {
      width: 100%;
      padding-left: 0;
      height: 250px;
      align-items: flex-start; } }
.page-intro-video + .section-inner {
  pointer-events: none; }
  .page-intro-video + .section-inner a, .page-intro-video + .section-inner button {
    pointer-events: all; }

.page-intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0; }

.page-intro-title {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 60px; }
  @media (max-width: 1023px) {
    .page-intro-title {
      text-align: center; } }
  @media (max-width: 767px) {
    .page-intro-title {
      max-width: none;
      font-size: 30px; } }
.page-intro-image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  height: 100%;
  z-index: -1; }
  @media (min-width: 1441px) {
    .page-intro-image-container {
      width: 50%;
      max-width: 900px; } }
  @media (max-width: 1023px) {
    .page-intro-image-container {
      width: 100%;
      border: none;
      position: absolute;
      left: 0;
      top: 0; } }
.page-intro-image {
  width: auto;
  height: 100%; }
  @media (min-width: 1441px) {
    .page-intro-image {
      width: 100%;
      object-fit: cover;
      object-position: 100% 50%; } }
  @media (max-width: 1023px) {
    .page-intro-image {
      height: 100%;
      width: 100%;
      object-fit: cover; } }
.page-intro-button-link {
  margin-top: 70px; }
  @media (max-width: 767px) {
    .page-intro-button-link {
      margin-top: 80px; } }
.page-intro-line {
  display: block;
  position: relative;
  white-space: nowrap; }

@media (max-width: 767px) {
  .page-intro-content {
    margin: 0 auto;
    text-align: center;
    margin-top: 80px; } }

.footer {
  background-color: #242A2D;
  color: #fff;
  padding: 35px;
  font-weight: 300;
  font-size: 12px; }
  .footer-inner {
    border-top: 1px solid #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    @media (max-width: 767px) {
      .footer-inner {
        flex-direction: column; } }
  .footer-logo {
    width: 140px; }
  .footer-address {
    font-style: normal;
    margin-top: 20px;
    font-weight: 300; }
  .footer-address-line {
    display: block; }
    .footer-address-line.copyright {
      margin-top: 20px; }
  .footer-link {
    color: white;
    text-decoration: underline; }
    .footer-link:hover {
      text-decoration: none; }

.home-values-container {
  margin-top: 60px; }

.home-quote {
  font-size: 30px; }
  @media (max-width: 1023px) {
    .home-quote {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .home-quote {
      font-size: 20px; } }
  .home-quote-section {
    padding-top: 135px;
    padding-bottom: 135px; }
    @media (max-width: 767px) {
      .home-quote-section {
        padding-top: 95px;
        padding-bottom: 95px; } }
.home-intro-section {
  background-color: black;
  color: white; }
  @media (max-width: 767px) {
    .home-intro-section {
      display: flex;
      align-items: center; }
      .home-intro-section .content-section-inner {
        text-align: center; } }
.home-button-link {
  margin-top: 30px; }
  @media (max-width: 767px) {
    .home-button-link {
      margin-top: 15px; } }
.home-video-container {
  margin-top: 35px; }

.home-video-text-container {
  margin-top: 50px; }

.home-people-section .content-section-title-text {
  align-items: flex-start; }

.home-people-image-container {
  margin-top: 35px; }
  @media (max-width: 767px) {
    .home-people-image-container {
      margin-left: -15%;
      margin-right: -15%; } }
@media (max-width: 767px) {
  .home-values-section {
    padding-top: 45px;
    padding-bottom: 0px; } }

.home-values-container {
  margin-top: 60px; }
  @media (max-width: 767px) {
    .home-values-container {
      margin-top: 0;
      padding-bottom: 60px; } }
